Expired checkpoint
= "=================================================="
This checkpoint has expired
= "To mark it as achieved or not, follow this link: #{@url}"
Just remember to keep growing and have a good day!
