- if day_note
  %div{:class => "card text-dark bg-transparent mb-3 border-warning"}
- else
  %div{:class => "card text-dark bg-transparent mb-3 border-info"}

    .card-header.bg-transparent Note
    #note.card-body
      %p#note-description #{day_note ? day_note.description : 'You don\'t have a note yet'}
