#calendarContainer,
#organizerContainer {
  display: flex;
  flex-wrap: wrap;
}

.carousel-inner {
  padding: 10%;
}

.day {
  width: 30px;
  height: 30px;
  margin: 15px;
  position: relative;
  transition: transform 0.3s;
}

.habit-title {
  justify-content: space-between;
}

.month {
  width: 100%;
}

.day:hover {
  cursor: pointer;
  background-color: #292c7b;
  border-radius: 50%;
  transform: scale(1.3);

  a {
    color: #ededed !important;
    transform: translateY(3px);
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

.tooltip > .tooltip-inner {
  background-color: #ededed;
  border-color: #ededed;
  color: #292c7b;
}

.tooltip {
  overflow: auto;
}

.timeline {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 100px;
}

.timeline-item {
  transition: all 200ms ease-in;
}

.checkpoint {
  border-top: 3px solid #e8425a;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  transition: all 200ms ease-in;
  &:hover:before {
    background-color: #292c7b;
  }
}

.checkpoint:before {
  background-color: #e8425a;
  border-radius: 25px;
  border: 1px solid #ededed;
  content: "";
  height: 25px;
  position: absolute;
  top: -15px;
  transition: all 200ms ease-in;
  width: 25px;
}

.timeline-item.complete .checkpoint {
  border-top: 3px solid #292c7b;
  &:hover:before {
    background-color: #ededed;
  }
}
.timeline-item.complete .checkpoint:before {
  background-color: #292c7b;
  border: none;
  transition: all 200ms ease-in;
}

.current-day {
  border-radius: 50%;
  background-color: rgba(232, 66, 90, 0.3);
  width: 30px;
  height: 30px;
}

.had-note {
  position: absolute;
  bottom: -10px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #292c7b;
  border-radius: 50%;
}

.had-checkpoint {
  position: absolute;
  bottom: -10px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #e8425a;
  border-radius: 50%;
}

.notifier-container {
  position: relative;

  .notifier {
    position: absolute;
    bottom: 3px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    &--checkpoint {
      background-color: #e8425e;
    }

    &--note {
      background-color: #292c7b;
    }

    &--selected-day {
      background-color: rgba(232, 66, 90, 0.3);
    }
  }
}
