%li.timeline-item{class: [checkpoint.status && 'complete'], 'data-bs-html': 'true', 'data-bs-toggle':"tooltip", 'data-bs-placement': "right", 'title': "#{checkpoint.title}</br>#{checkpoint.due_date}</br>#{checkpoint.description}" }
    .checkpoint
