.col-xs-12.col-sm-6
  .card
    .card-body
      %h5.card-title= habit.name
      %p.card-text
        %strong Start date:
        = habit.start_date
      %p.m-0
        %strong Checkpoints:
      %div.d-flex.overflow-auto
