%ul.nav.nav-pills.mb-3#pills-tab{ 'role': 'tablist'}
  %li.nav-item{ 'role': 'presentation' }
    %button.nav-link.active#pills-active-habits-tab{ 'data-bs-toggle': 'pill', 'data-bs-target': '#pills-active-habits', 'type': 'button', 'role': 'tab', 'aria-controls': 'pills-active-habits', 'aria-selected': 'true' } Active habits
  %li.nav-item{ 'role': 'presentation' }
    %button.nav-link#pills-archived-habits-tab{ 'data-bs-toggle': 'pill', 'data-bs-target': '#pills-archived-habits', 'type': 'button', 'role': 'tab', 'aria-controls': 'pills-archived-habits', 'aria-selected': 'false' } Archived habits
